<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDITAR POST</title>
    <link href="../static/css/bootstrapp-css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<div class="container">
    <form action="#" th:action="@{/patch/post}" class="form-goup" th:object="${post}" method="post">

        <input type="hidden" th:field="*{id}" name="id" id="id">
        <div class="form-group">

            <label for="title">Titulo:</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" name="title">

        </div>

        <div class="form-group">

            <label for="content">Contenido:</label>
            <input type="text"	class="form-control" id="content" th:field="*{content}" name="content">

        </div>

        <div class="form-group">

            <label for="imageURL">URL imagen:</label>
            <input type="text"	class="form-control" id="imageURL" th:field="*{imageURL}" name="imageURL">

        </div>

        <div class="form-group">

            <label for="category">Categoria:</label>
            <input type="text"	class="form-control" id="category" th:field="*{category}" name="category">

        </div>

        <div class="form-group">

            <label for="date">Fecha:</label>
            <input type="text"	class="form-control" id="date" th:field="*{date}" name="date">

        </div>

        <button type="submit" class="btn btn-success">Guardar</button>

    </form>

<!--
    <a href="/listaAnimal" class="btn btn-primary">Atras</a>
-->
</div>

</body>
</html>